# Python
*.pyc
__pycache__
*.egg-info
dist
*.csv
*.tsv
result
playground/data
val2014

answer_files_*
build
result
POPE/*
checkpoints/*
bitsandbytes/*
playground/data/val2014
cuda_install.sh
cuda_11.6.2_510.47.03_linux.run

.vscode/launch.json

